/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

@import 'assets/scss/root';
@import 'assets/scss/controls';


// Global styles
html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}
