:host {
  background: var(--apm-primary);
  overflow-x: hidden;
  position: fixed;
  color: white;
  height: 100%;
  width: 200px;
  left: 0;
  top: 0;

  .invert {
    filter: invert(1);
  }

  li {
    list-style: none;
    padding: 10% 0;
  }

  .project-name {
    color: var(--apm-secondary)
  }

  // ul {
  //   padding-left: 0;
  // }
  // li a {
  //   color: white;
  //   text-decoration: none;
  //   padding-left: 7%;
  // }
  // li a img {
  //   padding-right: 5%;
  // }
  // li {
  //   padding-top: 10%;
  //   padding-bottom: 10%;
  //   list-style: none;
  // }
}
