<div class="container">
  <div class="row h-100 d-flex">
    <div class="col-12 d-flex flex-column justify-content-center">
      <div class="row d-flex">
        <div class="col-12 h-100 d-flex justify-content-center text-center">
          <img src="assets/img/b-logo.png" height="40" alt="apm" class="invert my-4 mb-5">
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-12 h-100 d-flex flex-column justify-content-center align-items-center ">
          <ul class="d-flex w-100 flex-column p-0">
            <li *ngFor="let link of ITEM_LIST">
              <a class="d-flex justify-content-center" [routerLink]="[link.link]">
                <img src="assets/img/{{link?.label}}.png" height="30">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row d-flex mt-5">
        <div class="col-12 d-flex flex-column justify-content-end align-items-center align-self-end">
          <h5>signed in as</h5>
          <h4><strong>{{ userName }}</strong></h4>
          <h4 class="project-name"><strong>{{ projectName }}</strong></h4>
        </div>
      </div>
    </div>
  </div>
</div>
