// BUTTONS
.apm-button {
  transition: all 0.2s ease-in-out;
  background: var(--apm-primary);
  color: var(--apm-white);
  border: 0;
  &:focus {
    background: var(--apm-primary);
    color: var(--apm-white);
    box-shadow: none;
    outline: none;
  }
  &:hover {
    background: var(--apm-primary-200);
    color: var(--apm-white);
    cursor: pointer;
  }
}

// INPUTS
.apm-input {
  &[type="text"] {
    border: 0;
    border-bottom: 1px solid var(--apm-black);
  }
}

// ANCHORS
a {
  color: var(--apm-primary);
  &:hover {
    color: var(--apm-primary-200);
  }
}
