:root {
  // basic colors
  --apm-white: #ffffff;
  --apm-black: #000000;

  --apm-gray: #eaeaea;
  --apm-gray-200: #a7a7a7;

  --apm-primary: #2c328a;
  --apm-primary-200: #1b2061;

  --apm-secondary: #ff8431;

  --apm-success: #0bb947;
}
