<div class="container-fluid">
  <div class="row">
    <h1><strong>Your&nbsp;projects</strong></h1>
  </div>
  <div class="row">
    <div *ngFor="let project of (this.projects$ | async)" class="col-md-4 mt-3">
      <div class="project text-center" [routerLink]="['project', project?.id]">
        {{project?.name || 'b/d'}}
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="project__new text-center">
        +
      </div>
    </div>
  </div>
</div>
