:host {
  div.project,
  div.project__new {
    transition: background-color 0.3s ease-in-out;
    border-radius: 30px;
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      box-shadow: none;
      outline: none;
      border: none;
    }
  }

  div.project {
    background: var(--apm-gray);
    padding: 2rem 1rem;
    &:hover {
      background: var(--apm-gray-200);
    }
  }

  div.project__new {
    border: 6px solid var(--apm-success);
    color: var(--apm-success);
    padding: 1.65rem 1rem;
    &:hover {
      background: var(--apm-success);
      color: white;
    }
  }
}
