<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-4">
      <div class="container ">
        <div class="flex-row">
          <div class="col-8 offset-2 d-flex flex-column align-items-center">
            <img src="assets/img/b-logo.png" alt="apm" class="mb-5">
            <form class="text-center">
              <input type="text" class="apm-input form-control ">
              <input type="text" class="apm-input form-control">
              <a href>forgot&nbsp;password?</a>
              <input type="button" class="apm-button form-control" (click)="signIn()" value="sing in">
              or&nbsp;<a href><strong>sign&nbsp;up</strong></a>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 d-none d-md-block px-0 background-image">
      <div
        class="background-image__overlay d-flex align-items-end text-white text-right justify-content-center flex-column">
        <h1>another project <br> manager</h1>
        <h5>where teams get work done</h5>
      </div>
    </div>
  </div>
</div>
