:host {
  .background-image {
    background-image: url(../../assets/img/team.jpg);
    background-size: cover;
    .background-image__overlay {
      background: var(--apm-primary);
      padding-right: 15%;
      opacity: 0.85;
      height: 100%;
      width: 100%;
      & > h1,
      & > h5 {
        font-weight: bold;
        opacity: 1;
      }
      & > h1 {
        font-size: 4rem;
      }
      & > h5 {
        font-size: 2rem;
      }
    }
  }
  .apm-input, .apm-button {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  
}
